<div class="root">
  <%= render 'partials/collapse', btn_text: 'User list', id: 'user_list' do %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Permissions</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.permissions %></td>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
        </tr>
      <% end %>
      <%= form_with model: User.new, method: 'post', url: {controller: 'admin', action: 'create_user'} do |f| %>
        <tr>
          <td><%= f.text_field :id, class: 'form-control', placeholder: 'ID' %></td>
          <td><%= f.text_field :email, class: 'form-control', placeholder: 'E-Mail' %></td>
          <td><%= f.text_field :name, class: 'form-control', placeholder: 'Name' %></td>
          <td><%= f.text_field :permissions, class: 'form-control', placeholder: 'Permissions' %></td>
          <td><%= f.text_field :created_at, class: 'form-control', placeholder: 'Created at' %></td>
          <td><%= f.text_field :updated_at, class: 'form-control', placeholder: 'Updated at' %></td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :password, class: 'form-control', placeholder: 'Password' %>
          </td>
          <td>
            <%= f.submit 'Force add to database', class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render 'partials/collapse', btn_text: 'Subforum list', id: 'sub_list' do %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">User ID</th>
        <th scope="col">Parent subforum ID</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
      </tr>
      </thead>
      <tbody>
      <% @subforums.each do |subforum| %>
        <tr>
          <td><%= subforum.id %></td>
          <td><%= subforum.title %></td>
          <td><%= subforum.user_id %></td>
          <td><%= subforum.subforum_id %></td>
          <td><%= subforum.created_at %></td>
          <td><%= subforum.updated_at %></td>
        </tr>
      <% end %>
      <%= form_with model: Subforum.new, method: 'post', url: {controller: 'admin', action: 'create_subforum'} do |f| %>
        <tr>
          <td><%= f.text_field :id, class: 'form-control', placeholder: 'ID' %></td>
          <td><%= f.text_field :title, class: 'form-control', placeholder: 'Title' %></td>
          <td><%= f.text_field :user_id, class: 'form-control', placeholder: 'User ID' %></td>
          <td><%= f.text_field :subforum_id, class: 'form-control', placeholder: 'Par. subforum ID' %></td>
          <td><%= f.text_field :created_at, class: 'form-control', placeholder: 'Created at' %></td>
          <td><%= f.text_field :updated_at, class: 'form-control', placeholder: 'Updated at' %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit 'Force add to database', class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render 'partials/collapse', btn_text: 'Post list', id: 'post_list' do %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">User ID</th>
        <th scope="col">Subforum ID</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
      </tr>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.user_id %></td>
          <td><%= post.subforum_id %></td>
          <td><%= post.created_at %></td>
          <td><%= post.updated_at %></td>
        </tr>
      <% end %>
      <%= form_with model: Post.new, method: 'post', url: {controller: 'admin', action: 'create_post'} do |f| %>
        <tr>
          <td><%= f.text_field :id, class: 'form-control', placeholder: 'ID' %></td>
          <td><%= f.text_field :title, class: 'form-control', placeholder: 'Title' %></td>
          <td><%= f.text_field :content, class: 'form-control', placeholder: 'Content' %></td>
          <td><%= f.text_field :user_id, class: 'form-control', placeholder: 'User ID' %></td>
          <td><%= f.text_field :subforum_id, class: 'form-control', placeholder: 'Subforum ID' %></td>
          <td><%= f.text_field :created_at, class: 'form-control', placeholder: 'Created at' %></td>
          <td><%= f.text_field :updated_at, class: 'form-control', placeholder: 'Updated at' %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit 'Force add to database', class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render 'partials/collapse', btn_text: 'Message list', id: 'msg_list' do %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">User ID</th>
        <th scope="col">Post ID</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
      </tr>
      </thead>
      <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= message.content %></td>
          <td><%= message.user_id %></td>
          <td><%= message.post_id %></td>
          <td><%= message.created_at %></td>
          <td><%= message.updated_at %></td>
        </tr>
      <% end %>
      <%= form_with model: Message.new, method: 'post', url: {controller: 'admin', action: 'create_message'} do |f| %>
        <tr>
          <td><%= f.text_field :id, class: 'form-control', placeholder: 'ID' %></td>
          <td><%= f.text_field :content, class: 'form-control', placeholder: 'Content' %></td>
          <td><%= f.text_field :user_id, class: 'form-control', placeholder: 'User ID' %></td>
          <td><%= f.text_field :post_id, class: 'form-control', placeholder: 'Post ID' %></td>
          <td><%= f.text_field :created_at, class: 'form-control', placeholder: 'Created at' %></td>
          <td><%= f.text_field :updated_at, class: 'form-control', placeholder: 'Updated at' %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit 'Force add to database', class: 'btn btn-warning' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>