<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse<%= id %>" aria-expanded="false" aria-controls="collapse<%= id %>">
  <%= btn_text %>
</button>
<div class="collapse" id="collapse<%= id %>">
  <div class="card card-body">
    <%= yield %>
  </div>
</div>