<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_pack_tag 'stylesheets/users/try_register' %>
  </head>
  <body>
    <div class="form jumbotron">
      <span class="form-title">Register</span>
      <%= form_with model: @user, url: {action: 'register'} do |f| %>
        <div class="form-group">
          <%= f.text_field :email, class: 'form-control', placeholder: "E-mail" %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', placeholder: "Nickname" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Register', class: 'btn btn-primary' %>
          <%= link_to 'Log in', {controller: 'sessions', action: 'try_login'}, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </body>
</html>