<!DOCTYPE html>
<html>
  <head>
    <title>Печеньки!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets/application' %>
    <%= javascript_pack_tag 'javascripts/application' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
  </body>
</html>
